<h1 align="center" class="display-4 mb-5">Sign Up</h1>
<div style="width:40%; margin: 25px auto" >
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label><b>Email address</b></label>
      <input [(ngModel)]="signUpRequest.email" type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Enter email" email required autofocus  #email="ngModel">
      <div  *ngIf="email.invalid && (email.dirty ||email.touched)" >
          <div *ngIf="email.errors.required" >
              Email is required.
          </div>
          <div *ngIf="email.errors.email">
              Invalid Email.
          </div>
      </div>
    </div>
    <div class="form-group">
      <label><b>FirstName</b></label>
      <input [(ngModel)]="signUpRequest.name" type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Your name" required #name="ngModel">
        <div  *ngIf="name.invalid && (name.dirty ||name.touched)">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
                Name must be at least 3 characters long.
            </div>
        </div>
    </div>
    <div class="form-group">
      <label><b>LastName</b></label>
      <input [(ngModel)]="signUpRequest.lastname" type="text" class="form-control form-control-lg" id="lastname" name="lastname" placeholder="Your last name" required #lastname="ngModel">
      <div  *ngIf="lastname.invalid && (lastname.dirty ||lastname.touched)">
        <div *ngIf="lastname.errors.required">
          lastname is required.
        </div>
        <div *ngIf="lastname.errors.minlength">
          lastname must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label><b>Password</b></label>
      <input  [(ngModel)]="signUpRequest.password" type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password" minlength="3" required #password="ngModel">
        <div  *ngIf="password.invalid && (password.dirty ||password.touched)">
            <div *ngIf="password.errors.required">
                Password is required.
            </div>
            <div *ngIf="password.errors.minlength">
                Password must be at least 3 characters long.
            </div>
        </div>
    </div>
    <div class="form-group">
      <label><b>Phone</b></label>
      <input [(ngModel)]="signUpRequest.phone" type="text" class="form-control form-control-lg" id="phone" name="phone" placeholder="Phone" required #phone="ngModel" >
        <div  *ngIf="phone.invalid && (phone.dirty ||phone.touched)">
            <div *ngIf="phone.errors.required">
                Phone is required.
            </div>
        </div>
    </div>
    <div class="form-group">
      <label><b>City</b></label>
      <input [(ngModel)]="signUpRequest.city" type="text" class="form-control form-control-lg" id="city" name="address" placeholder="City" required #city="ngModel">
        <div  *ngIf="city.invalid && (city.dirty ||city.touched)">
            <div *ngIf="city.errors.required">
              City is required.
            </div>
        </div>
    </div>
    <div class="form-group">
      <label><b>Street</b></label>
      <input [(ngModel)]="signUpRequest.street" type="text" class="form-control form-control-lg" id="street" name="street" placeholder="Street" required #street="ngModel">
      <div  *ngIf="street.invalid && (street.dirty ||street.touched)">
        <div *ngIf="street.errors.required">
          Street is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label><b>OpenAddress</b></label>
      <input [(ngModel)]="signUpRequest.address" type="text" class="form-control form-control-lg" id="address" name="address" placeholder="Address" required #address="ngModel">
      <div  *ngIf="address.invalid && (address.dirty ||address.touched)">
        <div *ngIf="address.errors.required">
          Address is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!form.form.valid" >Sign Up</button>
    </div>
  </form>
</div>

